
<%- include("header"); -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint pariatur quisquam nisi fugiat aliquid odit cupiditate aperiam adipisci. Dolor quas officiis voluptatibus, eaque voluptatem obcaecati ducimus illo laboriosam id accusantium!</p>

<%- include("footer"); -%>